<h1>BOP Details</h1>
<h2>BOP Serial Number: <%= @bop.serial_number %></h2>
<h2>BOP Type: <%= @bop.bop_type %></h2>
<h2>Producer: <%= @bop.producer  %></h2>
<h2>Pressure Rating: <%= @bop.pressure_rating %></h2>
<h2>Description: <%= @bop.description %></h2>
<h2>Rig name: <%= @bop.rig.name %></h2>

<br>

<h2>Pressure Tests</h2>
<% @bop.pressure_tests.each do |test| %>
<p><%= test.well_name %> | <%= test.completed_date %>  <%= link_to "Show", pressure_test_path(test) %></p>
<% end %>
