<body class="bop-page-body">
  <div class='sidebar'>
    <div class='heading-pres sidebar-rig-head'>
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <h3>Welcome, <%= current_user.name.upcase %></h3>
      <p class='staff-position'><%= current_user.position %></p>
      <p class="test-date-p"> <strong class='strong'>Last Test Date:</strong> <%= @bop.last_completed_pressure_test_date %></p>
    </div>
    </div>

  <div class="bop-table-wrapper">
    <h3 class="bop-table-title">BOP Details</h1>
    <div class="bop-table-container">
      <table class="table table-hover table-borderless">
        <thead>
          <tr class="table-head-wrapper">
            <th scope="col" class="th-title">BOP Serial Number</th>
            <th scope="col" class="th-title">BOP Type</th>
            <th scope="col" class="th-title">Producer</th>
            <th scope="col" class="th-title">Pressure Rating</th>
            <th scope="col" class="th-title">Description</th>
            <th scope="col" class="th-title">Rig Name</th>
          </tr>
        </thead>
        <tbody>
          <tr class='clickable-row'>
            <td><%= @bop.serial_number %></td>
            <td><%= @bop.bop_type %></td>
            <td><%= @bop.producer  %></td>
            <td><%= @bop.pressure_rating %></td>
            <td><%= @bop.description %></td>
            <td><%= @bop.rig.name %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3 class="bop-table-title">Pressure Tests</h2>
    <div class="bop-table-container">
      <table class="table table-hover table-borderless">
        <thead>
          <tr class="table-head-wrapper">
            <th scope="col" class="th-title">Well Name</th>
            <th scope="col" class="th-title">Completed Date</th>
            <th scope="col" class="th-title"></th>
            </tr>
        </thead>
        <tbody>
          <% @bop.pressure_tests.each do |test| %>
            <tr class='clickable-row' <%#= link_to " ", rigs_path(@rig) %>>
              <td><%= test.well_name %></td>
              <td><%= test.completed_date %></td>
              <td>
                <%= link_to  pressure_test_path(test), class:"pressure-test-link" do %>
                <i class="fas fa-folder-open"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>
