<p>view/component_pressure_tests/show.html.erb</p>
<h1>Here you see the details of Component Test</h1>

<p>1.<%= @component_pressure_test.bop_element_unit %></p>
<p>1.<%= @component_pressure_test.component_type %></p>
<p>1.<%= @component_pressure_test.low_pressure %></p>
<p>1.<%= @component_pressure_test.high_pressure %></p>
<p>1.<%= @component_pressure_test.test_result %></p>
<p>1.<%= @component_pressure_test.open_gallons %></p>
<p>1.<%= @component_pressure_test.open_time %></p>
<p>1.<%= @component_pressure_test.close_gallons %></p>
<p>1.<%= @component_pressure_test.close_time %></p>
<% if @component_pressure_test.photo.presence %>
  <%= cl_image_tag @component_pressure_test.photo.key, class:'linegraph', height: 200 %>
  <% else %>
    <img src="https://res.cloudinary.com/dk9bhadx6/image/upload/v1632386748/development/smart%20bop/Screen_Shot_2021-09-23_at_11.31.14_esnhlt.png" class="card-image" alt="luggage image">
<% end %>
