<div class="container">
  <h1>Build a new Function Test</h1>

  <%= simple_form_for [@bop, @function_test] do |f| %>
    <div class = "funtion_test_general_form">
      <%= f.input :completed_date %>
      <%= f.input :well_name %>
      <%= f.input :location, collection:["Rig floor" , "Drilling Office"] %>
    </div>
    <h3>Components of BOP</h3>

    <div id='component_function_tests'>
        <%= f.simple_fields_for :component_function_tests do |component| %>
          <%= render 'component_function_test_fields', f:component %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Component', f, :component_function_tests, class:"add-button-main" %>
        </div>
    </div>

    <h3>Regular Checks</h3>

    <div class="function_equipment_check_form">

      <% index = 0 %>

      <%= f.simple_fields_for :function_test_answers, class: 'input-display' do |answer| %>
        <% question = Question.where(category: [ "Function Test Questions", "Function Test BypassNormal"])[index] %>
          <% if question %>
            <div class="equipment_check_question">
              <div><%= question.name %></div>
              <% if question.category == "Function Test Questions" %>
                <span><%= answer.input_field :value, as: :radio_buttons, collection: [['Yes', 'Yes'], ['No', 'No'], ["N/A","N/A"]], label: false %></span>
              <% elsif question.category == "Function Test BypassNormal" %>
                <%= answer.input :value, collection: [ "Bypass", "Normal"], label: false %>
              <% end %>
              <%= answer.hidden_field :question_id, value: question.id %>
            </div>
          <% end %>

          <% index += 1 %>
      <% end %>
    </div>


    <h3>System Checks</h3>
    <p>To be carried out by System Engineer or Senior Electrician</p>
    <div class="function_equipment_check_form">

      <% index = 0 %>
      <%= f.simple_fields_for :function_test_answers, class: 'input-display' do |answer| %>

        <% question = Question.where(category: [ "System Engineer Questions"])[index] %>
          <% if question %>
            <div class="equipment_check_question">
              <div><%= question.name %></div>
              <% if question.category == "System Engineer Questions" %>
                <span><%= answer.input_field :value, as: :radio_buttons, collection: [['Yes', 'Yes'], ['No', 'No'], ["N/A","N/A"]], label: false %></span>
              <% end %>
              <%= answer.hidden_field :question_id, value: question.id %>
            </div>
          <% end %>

          <% index += 1 %>
      <% end %>
    </div>


    <div class='create-btn'>
      <%= f.submit "Create Function Test", class:"create-test-button" %>
    </div>
  <% end %>

</div>
