<div class="navbar navbar-expand-sm navbar-light navbar-xspace fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
      <% if request.path.include? "pressure_tests"%>
        <% if request.path.exclude? "new"%>
          <%= image_tag "bop-logo-white.png" %>
        <% else %>
          <%= image_tag "bop-logo.png" %>
        <% end %>
      <% else %>
        <%= image_tag "bop-logo.png" %>
      <% end %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link", id:'nav-text' %>
        </li>

        <li class="nav-item active">
          <%= link_to "About", about_path, class: "nav-link", id:'nav-text' %>
        </li>

        <li class="nav-item active">
          <%= link_to "Rigs", rigs_path, class: "nav-link", id:'nav-text'%>
        </li>

        </li>
        <li class="nav-item active">
          <%= link_to "BOP", bop_path(current_user.bop), class: "nav-link", id:'nav-text' %>
        </li>

        <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link", id:'nav-text' %>
        </li>

        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link", id:'nav-text' %>
        </li>
        <% else %>

        <li class="nav-item active">
          <%= link_to "About", about_path, class: "nav-link", id:'nav-text' %>
        </li>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link", id:'nav-text' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
