<p>view/component_pressure_tests/show.html.erb</p>
<h1>Here you see the details of Component Test</h1>

<p> 1. <%= @safety_valve_test.unit %></p>
<p> 1. <%= @safety_valve_test.serial_number %></p>
<p> 1. <%= @safety_valve_test.connection_type %></p>
<p> 1. <%= @safety_valve_test.high_pressure %></p>
<p> 1. <%= @safety_valve_test.low_pressure %></p>
<p> 1. <%= @safety_valve_test.test_result %></p>
