<div class="main-container-about-us">

  <div class="main-header-about-page">
    <div class="main-about-pic-box">
      <%= image_tag 'about-page-img.png', alt: "About us", class: "main-about-pic" %>
    </div>

    <div class="about-main-text">
      <h4 class='red-header-text-bg'>Let's Make history.</h4>
      <p class='about-main-paragraph'>We are a team of experts in oil industry and want to transfer the complex and mysterious paper track of your BOP test with the new BOPsmart system that will provide a reliable and safe records of your tests with few clicks!</p>
    </div>
  </div>

  <div class="what-we-do-text-2header">
    <h2>What we do?</h2>
    <h6 class='what-we-do-text'>__________________________</h6>
  </div>

  <div class="wwdo-active-data-record">
    <%= image_tag "live-track-img.jpg", alt: "live track image", class: 'live-track-image ' %>
    <div class="info-wwdo-live-track">
        <h6 class='red-header-text-sm'>Active Data</h6>
        <p>Now you can update or track your data live the data is on tip of your finger no need to search papers for the history of your tests</p>
    </div>
  </div>

  <div class="wwdo-onlone-form">
    <%= image_tag "online-form-img.jpg ", alt: "online form image", class: 'online-form-image' %>
    <div class="info-wwdo-online-form">
        <h6 class='red-header-text-sm'>Online Form</h6>
        <p>We provide the online form platform for your BOP test to make your work more effecient and avoid the Big or small errors</p>
    </div>
  </div>

  <div class="wwdo-work-flow">
    <%= image_tag "work-flow-img.png", alt: "work flow image", class: 'work-flow-image' %>
    <div class="info-wwdo-work-flow">
        <h6 class='red-header-text-sm'>Simple Workflow</h6>
        <p>No more complex and different work flow for your BOP records because we provide you the easiest and more accurate Workflow for your BOP tests <br> that will cover everything for you</p>
    </div>
  </div>

  <div class="what-is-bop-text-2header">
    <h2>What is a blowout preventer?</h2>
    <h6 class='what-is-bop-text'>____________________________________________________</h6>
  </div>

  <div class="bop-info-conatainer">
    <div class="main-about-pic-box">
      <%= image_tag 'top-bop-info-img.png', alt: "About us", class: "top-bop-info-pic" %>
      <%= image_tag 'bottom-bop-info-img.png', alt: "About us", class: "bottom-bop-info-pic" %>
    </div>

    <div class="bop-info-text-box">
      <p class='info-bop-paragraph'>A <strong>blowout preventer,</strong> or BOP is a large specialised unit weighing up to 400 tonnes that is used to prevent an oil spill from occurring. It works like a valve to close an oil well, similar to a plumber closing a valve in a pipe, and are proven to be highly effective in ensuring well safety. The BOP is located at the top of the well near the seabed and surrounds the pipe or drill string, which passes through it. The fact that the BOP surrounds the pipe and stays in place throughout the drilling operation means that it can be used at any time to shut in or seal off the well. The BOP is deployed from the rig and installed on the well during the early stages of well construction. It remains in place during exploration activities, serving as a mechanical barrier that can be activated to seal off the well and isolate it from the rig or sea. Once activities on the well are complete, the BOP is retrieved back to the rig to be used for the next well. The BOP can shut in the well in minutes. If activated, the blowout preventer will automatically close hydraulic rams and activate specialised seals against the drill string to seal the bore. If this does not work properly, there are other rams which can completely cut through the drill string to seal the hole. In all, the BOP has six independent shut-in mechanisms. Blowout preventers are proven to be highly effective in ensuring well safety.</p>
    </div>

    <div class="bop-operate-info-text-box">
      <h2 class='info-bop-operate-header'>How does a BOP work?</h2>
      <p class='info-bop-operate-paragraph'>is a large specialised unit weighing up to 400 tonnes that is used to prevent an oil spill from occurring. It works like a valve to close an oil well, similar to a plumber closing a valve in a pipe, and are proven to be highly effective in ensuring well safety. The BOP is located at the top of the well near the seabed and surrounds the pipe or drill string, which passes through it. The fact that the BOP surrounds the pipe and stays in place throughout the drilling operation means that it can be used at any time to shut in or seal off the well. The BOP is deployed from the rig and installed on the well during the early stages of well construction. It remains in place during exploration activities, serving as a mechanical barrier that can be activated to seal off the well and isolate it from the rig or sea. Once activities on the well are complete, the BOP is retrieved back to the rig to be used for the next well. The BOP can shut in the well in minutes. If activated, the blowout preventer will automatically close hydraulic rams and activate specialised seals against the drill string to seal the bore. If this does not work properly, there are other rams which can completely cut through the drill string to seal the hole. In all, the BOP has six independent shut-in mechanisms. Blowout preventers are proven to be highly effective in ensuring well safety.</p>
    </div>
  </div>

<div class="footer-about-us footer">
    <h2>©smartBOP</h2>
</div>
</div>
