<div class="main-container-about-us">

  <div class="main-header-about-page">
    <div class="main-about-pic-box">
      <%= image_tag 'about-page-img.png', alt: "About us", class: "main-about-pic" %>
    </div>

    <div class="about-main-text">
      <h4 class='red-header-text-bg'>Let's Make history.</h4>
      <p class='about-main-paragraph'>We are a team of experts in oil industry and want to transfer the complex and mysterious paper track of your BOP test with the new BOPsmart system that will provide a reliable and safe records of your tests with few clicks!</p>
    </div>
  </div>

  <div class="what-we-do-text-2header">
    <h2>What we do?</h2>
    <h6 class='what-we-do-text'>__________________________</h6>
  </div>

  <div class="wwdo-active-data-record">
    <%= image_tag "live-track-img.jpg", alt: "live track image", class: 'live-track-image ' %>
    <div class="info-wwdo-live-track">
        <h6 class='red-header-text-sm'>Active Data</h6>
        <p>Now you can update or track your data live the data is on tip of your finger no need to search papers for the history of your tests</p>
    </div>
  </div>

  <div class="wwdo-onlone-form">
    <%= image_tag "online-form-img.jpg ", alt: "online form image", class: 'online-form-image' %>
    <div class="info-wwdo-online-form">
        <h6 class='red-header-text-sm'>Online Form</h6>
        <p>We provide the online form platform for your BOP test to make your work more effecient and avoid the Big or small errors</p>
    </div>
  </div>

  <div class="wwdo-work-flow">
    <%= image_tag "work-flow-img.png", alt: "work flow image", class: 'work-flow-image' %>
    <div class="info-wwdo-work-flow">
        <h6 class='red-header-text-sm'>Simple Workflow</h6>
        <p>No more complex and different work flow for your BOP records because we provide you the easiest and more accurate Workflow for your BOP tests <br> that will cover everything for you</p>
    </div>
  </div>

  <div class="what-is-bop-text-2header">
    <h2>What is a blowout preventer?</h2>
    <h6 class='what-is-bop-text'>____________________________________________________</h6>
  </div>

  <div class="bop-info-conatainer">
    <div class="main-about-pic-box">
      <%= image_tag 'about-page-img.png', alt: "About us", class: "main-about-pic" %>
      <%=image_tag 'about-page-img.png', alt: "About us", class: "main-about-pic" %>
    </div>

  </div>

</div>
