<div class="container-home-page">

    <%# main banner pic & text%>
    <div class="banner">
      <div class="home-bg-image">
        <h2 class='main-text'>Welcome to Smart BOP</h2>
        <p class='main-paragraph'> We are committed to bring safety to the front line workers and give accurate results with better history records.</p>
        <%# sign-up and already sign-in %>
        <div class = "signup-button">
          <% unless current_user.present? %>
          <%= link_to "<button class='main-button'>Sign Up</button>".html_safe, new_user_registration_path %>
          <p class='existing-account'>Already have an account | <%= link_to "<strong>Log in</strong>".html_safe, new_user_session_path  %></p>
          <% end %>
        </div>
      </div>
    </div>

    <%# what we do header %>
    <div class="what-we-do-header">
      <h2 class='wwd-header-text'>What do we do?</h2>
    </div>

    <%# What we do section %>
    <div class="wwd-main-grid">
      <div class='live-track-col'>
        <div class="wwd-50-radius-images">
          <%= image_tag "servers.svg", alt: "live track image", class: 'wwd-live-track-image' %>
        </div>
        <h6 class='give-margin-class'><strong>Active Data</strong></h6>
        <p class='give-margin-class-p'>Now, you can update or track your data live the data is on tip of your finger. No need to search for papers of test history.</p>
      </div>

      <div class='online-form-col'>
        <div class="wwd-50-radius-images">
          <%= image_tag "form.png", alt: "online form image", class: 'wwd-online-from-image' %>
        </div>

        <h6 class='give-margin-class'><strong>Online Form</strong></h6>
        <p class='give-margin-class-p'>We provide the online platform for BOP test to make your work more effecient and avoid the big or small errors.</p>
      </div>

      <div class='work-flow-col'>
        <div class="wwd-50-radius-images">
          <%= image_tag "workflow.svg", alt: "work flow image", class: 'wwd-workflow-image' %>
        </div>
        <h6 class='give-margin-class'><strong>Simple Workflow</strong></h6>
        <p class='give-margin-class-p'>No more complex and different workflow for your BOP records. We provide the easiest and more accurate workflow for BOP tests that covers everything for you.</p>
      </div>

    </div>
  <%# what is BOP section %>
  <div class="what-is-bop-banner-grid">

      <div class="wibop-text-area">
        <h2 class='wibop-give-margin-class blue-header'>What is BOP?</h2>
        <p class='wibop-give-margin-class-p'>A blowout preventer, or BOP is a large specialised unit weighing up to 400 tonnes that is used to prevent an oil spill from occurring. It works like a valve to close an oil well, similar to a plumber closing a valve in a pipe, and are proven to be highly effective in ensuring well safety. The BOP is located at the top of the well near the seabed and surrounds the pipe or drill string, which passes through it.</p>
      </div>

      <div class="wibop-image-box">
        <%= image_tag 'bop-main-img.jpg', alt: "About us", class: "bop-image" %>
      </div>
  </div>

  <%# How BOP operates - header area %>
  <div class='header-info-bop'>
    <h2 class='red-header' id='info-bop-operate-header'>How does a BOP work?</h2>
  </div>

  <%# How BOP operates - container area one %>
  <div class="bop-info-conatainer-one">

    <div class="info-bop-image-container-one">
      <%= image_tag 'top-bop-info-img.png', alt: "About us", class: "info-bop-image-one" %>
    </div>
    <div class="info-bop-text-area-one">
      <p class='info-bop-paragraph-one'>The BOP is deployed from the rig and installed on the well during the early stages of well construction. It remains in place during exploration activities, serving as a mechanical barrier that can be activated to seal off the well and isolate it from the rig or sea. Once activities on the well are complete, the BOP is retrieved back to the rig to be used for the next well.</p>
    </div>
  </div>
  <div>

  <%# How BOP operates - container area two %>

  <div class="bop-info-container-two">
      <div class="info-bop-text-area-two">
          <p>The BOP can shut in the well in minutes. If activated, the blowout preventer will automatically close hydraulic rams and activate specialised seals against the drill string to seal the bore. If this does not work properly, there are other rams which can completely cut through the drill string to seal the hole. In all, the BOP has six independent shut-in mechanisms. Blowout preventers are proven to be highly effective in ensuring well safety.</p>
      </div>
      <div class="info-bop-image-container-two">
          <%= image_tag 'bottom-bop-info-img.png', alt: "About us", class: "info-bop-image-two" %>
      </div>
  </div>
    <%# Lets make history part %>
    <div class="lets-make-history-banner make-grid">

      <div class="lmh-image-area">
        <%= image_tag 'lmh-image.jpg', alt: "About us", class: "lmh-icon-image" %>
      </div>

      <div class="lmh-paragraph">
        <h2 class=" lmh-give-margin-header red-header">Let's make history.</h2>
        <p class=" lmh-give-margin-header-p" >We are a team of experts in oil industry and want to transfer the complex and mysterious paper track of your BOP test with the new smartBOP system that will provide a reliable and safe records of your tests with few clicks!</p>
      </div>

    </div>



    <%# fotter %>
      <div class="footer-home-page">
          <h2 class='footer-text'>©smart-BOP</h2>
      </div>
    </div>

</div>
