<div class="container-home-page">

    <%# main banner pic & text%>
    <div class="banner">
      <%= image_tag "main-banner-img.jpg", alt: "Home", class: "main-page-pic" %>
        <span class='fade-box-for-banner'></span>

        <h2 class='main-text'>Welcome to Smart BOP</h2>
        <p class='main-paragraph'> We are committed to bring safety to the front line workers and give accurate results with a better history records</p>

    <%# sign-up and already sign-in %>
        <% unless current_user.present? %>
        <%= link_to "<button class='main-button '>Sign Up</button>".html_safe, new_user_registration_path %>
        <p class='existing-account'>Already have an account | <%= link_to "<strong>log in</strong>".html_safe, new_user_session_path  %></p>
        <% end %>
    </div>

    <%# what we do header %>
    <div class="what-we-do-header">
      <h2 class='wwd-header-text blue-header'>What we do?</h2>
    </div>

    <%# What we do section %>
    <div class="wwd-main-grid">
      <div class='live-track-col'>
        <div class="wwd-50-radius-images">
          <%= image_tag "servers.svg", alt: "live track image", class: 'wwd-live-track-image' %>
        </div>
        <h6 class='give-margin-class'><strong>Active Data</strong></h6>
        <p class='give-margin-class-p'>Now you can update or track your data live the data is on tip of your finger no need to search papers for the history of your tests</p>
      </div>

      <div class='online-form-col'>
        <div class="wwd-50-radius-images">
          <%= image_tag "form.png", alt: "online form image", class: 'wwd-online-from-image' %>
        </div>
        <h6 class='give-margin-class'><strong>Online Form</strong></h6>
        <p class='give-margin-class-p'>We provide the online form platform for your BOP test to make your work more effecient and avoid the Big or small errors</p>
      </div>

      <div class='work-flow-col'>
        <div class="wwd-50-radius-images">
          <%= image_tag "workflow.svg", alt: "work flow image", class: 'wwd-workflow-image' %>
        </div>
        <h6 class='give-margin-class'><strong>Simple Workflow</strong></h6>
        <p class='give-margin-class-p'>No more complex and different work flow for your BOP records because we provide you the easiest and more accurate Workflow for your BOP tests that will cover everything for you</p>
      </div>

    </div>
  <%# what is BOP section %>
  <div class="what-is-bop-banner-grid">

      <div class="wibop-text-area">
        <h2 class='wibop-give-margin-class blue-header'>What is BOP?</h2>
        <p class='wibop-give-margin-class-p'>A blowout preventer, or BOP is a large specialised unit weighing up to 400 tonnes that is used to prevent an oil spill from occurring. It works like a valve to close an oil well, similar to a plumber closing a valve in a pipe, and are proven to be highly effective in ensuring well safety. The BOP is located at the top of the well near the seabed and surrounds the pipe or drill string, which passes through it.</p>
      </div>

      <div class="wibop-image-box">
        <%= image_tag 'bop-main-img.jpg', alt: "About us", class: "bop-image" %>
      </div>
  </div>

    <%# Lets make history part %>
    <div class="lets-make-history-banner make-grid">

      <div class="lmh-image-area">
        <%= image_tag 'about-page-img.png', alt: "About us", class: "lmh-icon-image" %>
      </div>

      <div class="lmh-paragraph">
        <h2 class=" lmh-give-margin-header red-header">Let's Make history.</h2>
        <p class=" lmh-give-margin-header-p" >We are a team of experts in oil industry and want to transfer the complex and mysterious paper track of your BOP test with the new BOPsmart system that will provide a reliable and safe records of your tests with few clicks!</p>
      </div>

    </div>

    <%# fotter %>
      <div class="footer-home-page">
          <h2 class='footer-text'>©smart-BOP</h2>
      </div>
    </div>

</div>
