
<div class="dashboard-container">
<h1>Welcome to Smart-BOP Dashboard!</h1>
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" style='color: red; list-style-type: none;'>All Tests</a>
      </li>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel"aria-labelledby="pills-home-tab">
<% @pressure_tests.each do |pressure_test| %>
        <section class='card-grid'>
            <div class="test-main-container">
                <div class="test-title-card">
                  <div class="test-preview">
                    <h2>Well Name: <%= pressure_test.well_name %></h2>
                  </div>
                  <div class="test-info-card">
                    <h6><strong>Completed Date:</strong> <%= pressure_test.completed_date %></h6>
                    <h3 class='next-deadline-red-color'><strong>Next test deadline: </strong><%= pressure_test.next_test_deadline %></h3>
                    <span class='btn'><%= link_to "Show", pressure_test_path(pressure_test) %></span>
                  </div>
                </div>
            </div>
      </div>
    </div>
    </div>
        </section>
<% end %>
</div>















<%
=begin %>
                <% @safety_valve_tests.each do |safetytest| %>
              <div class="safety-valve-test-section row">
                  <div class=" unit-test-info col">
                      <h3>Unit: <%= safetytest.unit %></h3>
                  </div>
                  <div class="serial-number-test-info col">
                      <h3>SN: <%= safetytest.serial_number %></h3>
                  </div>
                  <div class="connection-type-test-info col">
                      <h3>Connection type: <%= safetytest.connection_type %></h3>
                  </div>
                <% end %>
              </div>

                <% @component_pressure_tests.each do |componenttest| %>
              <div class="component-test-section row">
                <div class="unit-test-info col">
                  <h3>Unit: <%= componenttest.bop_element_unit %> </h3>
                  </div>
                  <div class="serial-number-test-info col">
                      <h3>SN: <%= componenttest.component_type %></h3>
                  </div>
                <% end %>
              </div>
<%
=end %>
