<div class="dashboard-container">
<h1>Welcome to Smart-BOP Dashboard!</h1>
  <ul>
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All Tests</a>
      </li>
  </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel"aria-labelledby="pills-home-tab">
        <section>
          <div class='dashboard-show-test-container'>
            <div class="dashboard-list-of-all-test table">

                <% @pressure_tests.each do |pressuretest| %>
              <div class="pressure-test-section row">
                    <div class="well-name-info col">
                      <h2>Well Name: <%= pressuretest.well_name %></h2>
                      <div class="completed-test-info col">
                        <h3>Completed Date: <%= pressuretest.completed_date %></h3>
                      </div>
                      <div class="completed-test-info col">
                        <h3>Completed Date: <%= pressuretest.completed_date %></h3>
                      </div>
                <% end %>
                    </div>
              </div>
<%
=begin %>
                <% @safety_valve_tests.each do |safetytest| %>
              <div class="safety-valve-test-section row">
                  <div class=" unit-test-info col">
                      <h3>Unit: <%= safetytest.unit %></h3>
                  </div>
                  <div class="serial-number-test-info col">
                      <h3>SN: <%= safetytest.serial_number %></h3>
                  </div>
                  <div class="connection-type-test-info col">
                      <h3>Connection type: <%= safetytest.connection_type %></h3>
                  </div>
                <% end %>
              </div>

                <% @component_pressure_tests.each do |componenttest| %>
              <div class="component-test-section row">
                <div class="unit-test-info col">
                  <h3>Unit: <%= componenttest.bop_element_unit %> </h3>
                  </div>
                  <div class="serial-number-test-info col">
                      <h3>SN: <%= componenttest.component_type %></h3>
                  </div>
                <% end %>
              </div>
<%
=end %>
            </div>
          </div>
        </section>
</div>
