
<div class="dashboard-container">
<h1>Welcome to Smart-BOP Dashboard!</h1>
  <ul>
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All Tests</a>
      </li>
  </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel"aria-labelledby="pills-home-tab">
        <section>
          <div class='dashboard-show-test-container container'>
            <div class="dashboard-list-of-all-test table">

                <% @pressure_tests.each do |pressuretest| %>
              <div class="pressure-test-section"  style='margin: 5px;'>
                    <div class="well-name-info col-xl-2 col-md-12">
                    <div class="card ">
                      <h3 class='card-content ' style='font-size: 20px; margin: 5px;'><strong>Well Name:</strong> <%= pressuretest.well_name %></h3>
                      <br>
                      <div class="completed-test-info">
                        <h3 class='card-content' style='font-size: 20px; margin: 5px;'><strong>Completed Date:</strong> <%= pressuretest.completed_date %></h3>
                      </div>
                      <br>
                      <div class="completed-test-info">
                        <h3 class='card-content' style='font-size: 20px; margin: 5px;'><strong>Next test deadline: </strong><%= pressuretest.next_test_deadline %></h3>
                      </div>

                <% end %>
                <br>
                      <button style=' background-color: #ffff; '><%= link_to 'Show', pressure_tests_path(@pressure_test), class: 'btn-wide' 'card-content'%></button>
                    </div>
                  </div>
              </div>
<%
=begin %>
                <% @safety_valve_tests.each do |safetytest| %>
              <div class="safety-valve-test-section row">
                  <div class=" unit-test-info col">
                      <h3>Unit: <%= safetytest.unit %></h3>
                  </div>
                  <div class="serial-number-test-info col">
                      <h3>SN: <%= safetytest.serial_number %></h3>
                  </div>
                  <div class="connection-type-test-info col">
                      <h3>Connection type: <%= safetytest.connection_type %></h3>
                  </div>
                <% end %>
              </div>

                <% @component_pressure_tests.each do |componenttest| %>
              <div class="component-test-section row">
                <div class="unit-test-info col">
                  <h3>Unit: <%= componenttest.bop_element_unit %> </h3>
                  </div>
                  <div class="serial-number-test-info col">
                      <h3>SN: <%= componenttest.component_type %></h3>
                  </div>
                <% end %>
              </div>
<%
=end %>
            </div>
          </div>
        </section>
</div>
