<div class="nested-fields nested-margin">

  <div class="component_test_form">

        <div class="component_test_question">
          <%= f.input :bop_element_unit, collection: [ "Annular Preventer", "Upper Pipe ram", "Middle Pipe ram", "Lower Pipe ram", "Blind Shear Ram" ] %>
        </div>
        <div class="component_test_question">
          <%= f.input :component_type %>
        </div>
        <div class="component_test_question">
          <%= f.input :low_pressure %>
        </div>
        <div class="component_test_question">
          <%= f.input :high_pressure %>
        </div>
        <div class="component_test_question">
          <%= f.input :open_time %>
        </div>
        <div class="component_test_question">
          <%= f.input :open_gallons %>
        </div>
        <div class="component_test_question">
          <%= f.input :close_time %>
        </div>
        <div class="component_test_question">
          <%= f.input :close_gallons %>
        </div>

        <%= f.input :test_result,  collection: [ "Good", "Bad"] %>
        <%= f.input :photo, as: :file, class:'btn-photo' %>
  </div>

    <%= link_to_remove_association f, class:"remove-button-main" do %>
      <i class="far fa-trash-alt"> Remove</i>
    <% end %>

</div>
