
<div class="nested-fields">

  <div class="safety_valve_test_form">
    
    <div class="safety_valve_test_question">
      <%= f.input :unit, collection: [ "TIW valve", "Auto IBOP", "Manual IBOP", "Grey Valve" ] %>
    </div>
    <div class="safety_valve_test_question">
      <%= f.input :serial_number %>
    </div>
    <div class="safety_valve_test_question">
      <%= f.input :connection_type %>
    </div>
    <div class="safety_valve_test_question">
      <%= f.input :high_pressure %>
    </div>
    <div class="safety_valve_test_question">
      <%= f.input :low_pressure %>
    </div>
    <div class="safety_valve_test_question">
      <%= f.input :test_result,  collection: [ "Good", "Bad"] %>
    </div>
    <div>
      <%= link_to_remove_association "remove Safety valve", f, class:"remove-button-main" %>
    </div>
  </div>
</div>
