
<h2>Last test date: <%= @bop.last_completed_pressure_test_date %></h2>

<%= simple_form_for [@bop, @pressure_test] do |f| %>
    <table>
      <tr>
        <td><%= f.input :completed_date %></td>
      </tr>
      <tr>
        <td><%= f.input :well_name %></td>
        <td><%= f.input :test_fluid %></td>
      </tr>
      <tr>
        <td><%= f.input :serial_number_chart_recorded %></td>
        <td><%= f.input :drill_pipe_diameter %></td>
      </tr>
      <tr>
        <td><%= f.input :comment %></td>
      </tr>
      <tr>
        <td><%= f.input :corrective_action %></td>
      </tr>
    </table>

    <hr>

    <table>
      <h3>Equipment Checks</h3>

        <% Question.all.each do |question| %>
          <tr>
            <% if question.category =="Equipment Checks" %>
              <td><%= question.name %></td>
              <td>
                <%= f.simple_fields_for :answers do |answer| %>
                  <%= answer.input :value, collection: [ "Yes", "No"], label:false%>
                  <%= answer.hidden_field :question_id, value: question.id %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>

    </table>

    <hr>

    <h2>Components of BOP</h2>


    <div id='component_pressure_tests'>
      <%= f.simple_fields_for :component_pressure_tests do |component| %>
        <%= render 'component_pressure_tests_fields', f: component %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add Component', f, :component_pressure_tests %>
      </div>
    </div>


    <hr>
    <table>
      <h3>Choke Manifold Checks</h3>

      <% Question.all.each do |question| %>
            <% if question.category =="General Manifold" %>
              <td><%= question.name %></td>
              <%= f.simple_fields_for :answers do |answer| %>
                <td>
                  <%= answer.input :value, collection: [ "Yes", "No"], label:false %>
                  <%= answer.hidden_field :question_id, value: question.id %>
                </td>
              <% end %>
            <% end %>
      <% end %>


          <% Question.all.each do |question| %>
              <% if question.category =="Choke Manifold" %>
                <td><%= question.name %></td>
                <%= f.simple_fields_for :answers do |answer| %>
                  <td>
                    <%= answer.input :value, collection: [ "Yes", "No"], label:false %>
                    <%= answer.hidden_field :question_id, value: question.id %>
                  </td>
                <% end %>
              <% end %>
          <% end %>
    </table>
    <hr>

    <table>
        <h3> Standpipe Manifold Checks</h3>

          <% Question.all.each do |question| %>
              <% if question.category =="General Manifold" %>
                <td><%= question.name %></td>
                <%= f.simple_fields_for :answers do |answer| %>
                  <td>
                    <%= answer.input :value, collection: [ "Yes", "No"], label:false %>
                    <%= answer.hidden_field :question_id, value: question.id %>
                  </td>
                <% end %>
              <% end %>
            <% end %>
    </table>

    <hr>
    <h2>Safety Valve tests</h2>
    <div id='safety_valve_tests'>
      <%= f.simple_fields_for :safety_valve_tests do |safety_valve| %>
        <%= render 'safety_valve_tests_fields', f:safety_valve %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add Safety_valve', f, :safety_valve_tests %>
      </div>
    </div>
    <hr>


    <%= f.submit %>
<% end %>
