
<h2>Last test date: <%= @bop.last_completed_pressure_test_date %></h2>

<%= simple_form_for [@bop, @pressure_test] do |f| %>
    <%= f.input :completed_date %>
    <%= f.input :test_fluid %>
    <%= f.input :well_name %>
    <%= f.input :serial_number_chart_recorded %>
    <%= f.input :comment %>
    <%= f.input :corrective_action %>
    <%= f.input :drill_pipe_diameter %>
    <%= f.submit %>
<% end %>
