<h1>BOP serial number: <%= Bop.find(@pressure_test.bop_id).serial_number %></h1>
<h1>Pressure Test Details</h1>

<p> Last Test Date: <%= @pressure_test.last_test_date %></p>
<p> Completed Date: <%= @pressure_test.completed_date %></p>
<p> Next Test Deadline: <%= @pressure_test.next_test_deadline %></p>
<p> Test Fluid: <%= @pressure_test.test_fluid %></p>
<p> Well Name: <%= @pressure_test.well_name %></p>
<p> Serial Number Chart Recorded: <%= @pressure_test.serial_number_chart_recorded %></p>
<p> Comment: <%= @pressure_test.comment %></p>
<p> Corrective Action: <%= @pressure_test.corrective_action %></p>
<p> Drill Pipe Diameter: <%= @pressure_test.drill_pipe_diameter %></p>

<% if @pressure_test.component_pressure_tests.present? %>
  <% @pressure_test.component_pressure_tests.each do |component_pressure_test| %>
    <h3>COMPONENT PRESSURE TEST</h3>
    <ul>
      <li>Bop Element Unit: <%= component_pressure_test.bop_element_unit %></li>
      <li>Component Type: <%= component_pressure_test.component_type %></li>
      <li>Low Pressure: <%= component_pressure_test.low_pressure %></li>
      <li>High Pressure: <%= component_pressure_test.high_pressure %></li>
      <li>Test Result: <%= component_pressure_test.test_result %></li>
      <li>Open Gallons: <%= component_pressure_test.open_gallons %></li>
      <li>Open Time: <%= component_pressure_test.open_time %></li>
      <li>Close Time: <%= component_pressure_test.close_time %></li>
    </ul>
  <% end %>
<% end %>

<% if @pressure_test.safety_valve_tests.present? %>
  <% @pressure_test.safety_valve_tests.each do |safety_valve_test| %>
    <h3>SAFETY VALVE TEST - <%= safety_valve_test.serial_number %> </h3>
    <ul>
      <li>Unit: <%= safety_valve_test.unit %></li>
      <li>Serial Number: <%= safety_valve_test.serial_number %></li>
      <li>Connection Type: <%= safety_valve_test.connection_type %></li>
      <li>High Pressure: <%= safety_valve_test.high_pressure %></li>
      <li>Low Pressure: <%= safety_valve_test.low_pressure %></li>
      <li>Test Result: <%= safety_valve_test.test_result %></li>
    </ul>
  <% end %>
<% end %>


<% if current_user.approvals.present?  %>
<p><%= link_to "Approve",  approve_pressure_test_path(@pressure_test), method: :patch, class:'btn-approve btn' %></p>
<% end %>
