<h1>BOP serial number: <%= Bop.find(@pressure_test.bop_id).serial_number %></h1>
<h1>Pressure Test Details</h1>

<p> Last Test Date: <%= @pressure_test.last_test_date %></p>
<p> Completed Date: <%= @pressure_test.completed_date %></p>
<p> Next Test Deadline: <%= @pressure_test.next_test_deadline %></p>
<p> Test Fluid: <%= @pressure_test.test_fluid %></p>
<p> Well Name: <%= @pressure_test.well_name %></p>
<p> Serial Number Chart Recorded: <%= @pressure_test.serial_number_chart_recorded %></p>
<p> Comment: <%= @pressure_test.comment %></p>
<p> Corrective Action: <%= @pressure_test.corrective_action %></p>
<p> Drill Pipe Diameter: <%= @pressure_test.drill_pipe_diameter %></p>

<% if @pressure_test.component_pressure_tests.present? %>
  <% @pressure_test.component_pressure_tests.each do |component_pressure_test| %>
    <h3>COMPONENT PRESSURE TEST</h3>
    <ul>
      <li class="items">Bop Element Unit: <%= component_pressure_test.bop_element_unit %></li>
      <li class="items">Component Type: <%= component_pressure_test.component_type %></li>
      <li class="items">Low Pressure: <%= component_pressure_test.low_pressure %></li>
      <li class="items">High Pressure: <%= component_pressure_test.high_pressure %></li>
      <li class="items">Test Result: <%= component_pressure_test.test_result %></li>
      <li class="items">Open Gallons: <%= component_pressure_test.open_gallons %></li>
      <li class="items">Open Time: <%= component_pressure_test.open_time %></li>
      <li class="items">Close Time: <%= component_pressure_test.close_time %></li>
    </ul>
      <% if component_pressure_test.photo.present? %>
        <div style="text-align: center;">
          <%= cl_image_tag component_pressure_test.photo.key, height: 600, width: 600, crop: :fill %>
        </div>
      <% end %>
  <% end %>
<% end %>

<% if @pressure_test.safety_valve_tests.present? %>
  <% @pressure_test.safety_valve_tests.each do |safety_valve_test| %>
    <h3>SAFETY VALVE TEST - <%= safety_valve_test.serial_number %> </h3>
    <ul>
      <li class="items">Unit: <%= safety_valve_test.unit %></li>
      <li class="items">Serial Number: <%= safety_valve_test.serial_number %></li>
      <li class="items">Connection Type: <%= safety_valve_test.connection_type %></li>
      <li class="items">High Pressure: <%= safety_valve_test.high_pressure %></li>
      <li class="items">Low Pressure: <%= safety_valve_test.low_pressure %></li>
      <li class="items">Test Result: <%= safety_valve_test.test_result %></li>
    </ul>
  <% end %>
<% end %>


<% if current_user.approvals.present?%>
  <% if current_user.approvals.find_by(pressure_test: @pressure_test).approval_status == "pending"%>
<<<<<<< HEAD
   <div class="item2"><%= link_to "Approve",  approve_pressure_test_path(@pressure_test), method: :patch, class:'btn-approve' %></div>
=======
   <p class="item2"><%= link_to "Approve",  approve_pressure_test_path(@pressure_test), method: :patch %></p>
>>>>>>> master
  <% else %>
    <div class="item1">Approved</div>
  <% end %>
<% end %>
