
<div class='cont-pres'>
  <div class='heading-pres'>
    <h4>BOP serial number: <%= Bop.find(@pressure_test.bop_id).serial_number %></h4>
    <h4><strong class='strong'>Pressure Test Details</strong></h4>
  </div>
  <div class='arrow-pres'>
    <i class="fas fa-chevron-right"></i>
  </div>
  <div class='show-pressure'>
    <p> <strong class='strong'>Last Test Date:</strong> <%= @pressure_test.last_test_date %></p>
    <p> <strong class='strong'>Completed Date:</strong> <%= @pressure_test.completed_date %></p>
    <p> <strong class='strong'>Next Test Deadline:</strong> <%= @pressure_test.next_test_deadline %></p>
    <p> <strong class='strong'>Test Fluid:</strong> <%= @pressure_test.test_fluid %></p>
    <p> <strong class='strong'>Well Name:</strong> <%= @pressure_test.well_name %></p>
    <p> <strong class='strong'>Serial Number Chart Recorded:</strong> <%= @pressure_test.serial_number_chart_recorded %></p>
    <p> <strong class='strong'>Comment:</strong> <%= @pressure_test.comment %></p>
    <p> <strong class='strong'>Corrective Action:</strong> <%= @pressure_test.corrective_action %></p>
    <p> <strong class='strong'>Drill Pipe Diameter:</strong> <%= @pressure_test.drill_pipe_diameter %></p>
  </div>
</div>

<% if @pressure_test.component_pressure_tests.present? %>
  <% @pressure_test.component_pressure_tests.each do |component_pressure_test| %>
    <h4>COMPONENT PRESSURE TEST</h4>
    <ul>
      <li class="items">Bop Element Unit: <%= component_pressure_test.bop_element_unit %></li>
      <li class="items">Component Type: <%= component_pressure_test.component_type %></li>
      <li class="items">Low Pressure: <%= component_pressure_test.low_pressure %></li>
      <li class="items">High Pressure: <%= component_pressure_test.high_pressure %></li>
      <li class="items">Test Result: <%= component_pressure_test.test_result %></li>
      <li class="items">Open Gallons: <%= component_pressure_test.open_gallons %></li>
      <li class="items">Open Time: <%= component_pressure_test.open_time %></li>
      <li class="items">Close Time: <%= component_pressure_test.close_time %></li>
    </ul>
      <% if component_pressure_test.photo.present? %>
        <div style="text-align: center;">
          <%= cl_image_tag component_pressure_test.photo.key, height: 600, width: 600, crop: :fill %>
        </div>
      <% end %>
  <% end %>
<% end %>

<% if @pressure_test.safety_valve_tests.present? %>
  <% @pressure_test.safety_valve_tests.each do |safety_valve_test| %>
    <h3>SAFETY VALVE TEST - <%= safety_valve_test.serial_number %> </h3>
    <ul>
      <li class="items">Unit: <%= safety_valve_test.unit %></li>
      <li class="items">Serial Number: <%= safety_valve_test.serial_number %></li>
      <li class="items">Connection Type: <%= safety_valve_test.connection_type %></li>
      <li class="items">High Pressure: <%= safety_valve_test.high_pressure %></li>
      <li class="items">Low Pressure: <%= safety_valve_test.low_pressure %></li>
      <li class="items">Test Result: <%= safety_valve_test.test_result %></li>
    </ul>
  <% end %>
<% end %>

<% if @pressure_test.report_file.attached? %>
  <%= cl_image_tag "#{@pressure_test.report_file.key}.jpg", flag: "attachment", height: 450, width: 300, crop: :scale %>
  <a href="https://res.cloudinary.com/dk9bhadx6/image/upload/fl_attachment/v1632486696/<%= @pressure_test.report_file.key %>.jpg">Download</a>
<% else %>
  <%= simple_form_for @pressure_test do |f| %>
    <%= f.input :report_file, as: :file %>
    <%= f.submit %>
  <% end %>
<% end %>

<div class='container-question'>
  <div class='questionss'>
    <h4>Equipment Checks</h4>
    <% Question.where(category:"Equipment Checks").each do |quest| %>
      <p><%= quest.name %> <%= quest.answers.first.value %></p>
    <% end %>
  </div>

  <div class='questionss'>
    <h4>ManifoldPressure</h4>
    <% Question.where(category:"ManifoldPressure").each do |quest| %>
      <p><%= quest.name %> <%= quest.answers.first.value %></p>
    <% end %>
  </div>

  <div class='questionss'>
    <h4>General Manifold</h4>
    <% Question.where(category:"General Manifold").each do |quest| %>
      <p><%= quest.name %> <%= quest.answers.first.value %></p>
    <% end %>
  </div>

  <div class='questionss'>
    <h4>Choke Manifold</h4>
    <% Question.where(category:"Choke Manifold").each do |quest| %>
      <p><%= quest.name %> <%= quest.answers.first.value %></p>
    <% end %>
  </div>

  <div class='questionss'>
    <h4>Pressure Input</h4>
    <%# Question.where(category:"PressureInput").each do |quest| %>
      <p><%#= quest.name %> <%#= quest.answers.first.value %></p>
    <%# end %>
  </div>

  <div class='questionss'>
    <h4>EquipmentCheckBypassNormal</h4>
    <% Question.where(category:"EquipmentCheckBypassNormal").each do |quest| %>
      <p><%= quest.name %> <%= quest.answers.first.value %></p>
    <% end %>
  </div>
</div>


<%#= link_to("Download", cl_private_download_url("#{@pressure_test.report_file.key}", :pdf, :attachment => true)) %>

<div class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Rig</div>
      <div class="col col-2">Name</div>
      <div class="col col-3">Position</div>
      <div class="col col-4">Approval Status</div>
    </li>
    <% @pressure_test.approvals.each do |appr| %>
    <li class="table-row">
      <div class="col col-1"><%= appr.user.rig.name %></div>
      <div class="col col-2"><%= appr.user.name %></div>
      <div class="col col-3"><%= appr.user.position %></div>
      <div class="col col-4"><%= appr.approval_status %></div>
    </li>
    <% end %>
  </ul>
</div>

<% if current_user.approvals.present?%>
  <% if current_user.approvals.find_by(pressure_test: @pressure_test).approval_status == "pending"%>
    <div class="item2"><%= link_to "Approve",  approve_pressure_test_path(@pressure_test), method: :patch, class:'btn-approve' %></div>
  <% else %>
    <div class="item1">Approved</div>
  <% end %>
<% end %>
