<body class="rig-page-body">
  <div class='sidebar'>
    <div class='heading-pres sidebar-rig-head'>
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <h3>Welcome, <%= current_user.name.upcase %></h3>
      <p class='staff-position'><%= current_user.position %></p>
      <p>Rig: <%= current_user.rig.name %></p>
      <% if current_user.pressure_tests.nil? %>
        <p> <strong class='strong'>Last Test Date:</strong> <%= current_user.pressure_tests.last.last_test_date  %></p>
      <% end %>

    </div>
  </div>
  <div class="rig-table-container">
    <h3 class="rig-page-title">Our Rigs</h1>
    <table class="table table-borderless rig-table table-hover">
      <thead>
        <tr class="table-head-wrapper">
            <th scope="col" class="row-header"></th>
            <th scope="col" class="row-header">Operator Company</th>
            <th scope="col" class="row-header">Contractor Drilling Company</th>
            <th scope="col" class="row-header">Reservoir Field</th>
            <th scope="col"class="row-header">Rig Name</th>
            <th scope="col"class="row-header">Last Test Date</th>
            <th scope="col"class="row-header">Next Test Deadline</th>
          </tr>
      </thead>
      <tbody>
        <% @rigs.each do |rig| %>
          <tr class='clickable-row' data-href='/rigs/<%=rig.id%>'>
            <th scope="row"></th>
            <td class="rig-filler"><%= rig.operator_company %></td>
            <td class="rig-filler"><%= rig.contractor_drilling_company %></td>
            <td class="rig-filler"><%= rig.reservoir_field %></td>
            <td class="rig-filler"><%= rig.name %></td>
            <% if rig.bop.pressure_tests.empty? %>
              <td class="rig-filler"><%= rig.bop.last_completed_pressure_test_date %></td>
              <td class="rig-filler"><%= rig.bop.last_completed_pressure_test_date %></td>
            <% else %>
              <td class="rig-filler"><%= rig.bop.last_completed_pressure_test_date %></td>
              <td class="rig-filler"><%= rig.bop.last_completed_pressure_test_date+21.day %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
